<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alarm">

    <queries>
        <intent>
            <action android:name="info.guardianproject.panic.action.CONNECT" />
        </intent>
        <intent>
            <action android:name="info.guardianproject.panic.action.DISCONNECT" />
        </intent>
        <intent>
            <action android:name="info.guardianproject.panic.action.TRIGGER" />
        </intent>
    </queries>

</manifest>