<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.panic.handler">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <permission
        android:name="com.panic.handler.BIND_PANIC_HANDLER_SERVICE"
        android:label="my_permission"
        android:protectionLevel="normal"
        />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PanicExample">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="info.guardianproject.panic.action.TRIGGER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

<!--        <service-->
<!--            android:name=".service.PanicService"-->
<!--            android:permission="com.panic.handler.BIND_PANIC_HANDLER_SERVICE"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="info.guardianproject.panic.action.TRIGGER" />-->
<!--            </intent-filter>-->
<!--        </service>-->

        <receiver android:name=".broadcast.PanicBroadcast"
            android:exported="true"
            android:permission="com.panic.handler.BIND_PANIC_HANDLER_SERVICE">
            <intent-filter>
                <action android:name="info.guardianproject.panic.action.TRIGGER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>